/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container styles */
.upload-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f7ff; /* Soft blue background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

/* Greeting styles */
.greeting {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* Form styles */
.upload-form {
  width: 90%;
  max-width: 500px;
}

/* Dropzone styles */
.dropzone {
  border: 2px dashed #6C63FF; /* Blue dashed border */
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border-color 0.3s;
  cursor: pointer;
}

.dropzone:hover {
  border-color: #5248DB; /* Darker blue on hover */
}

/* Drop message styles */
.drop-message {
  text-align: center;
  color: #666;
}

.or {
  text-decoration: underline;
}

/* Icon styles */
.upload-icon {
  margin-bottom: 16px;
  font-size: 36px;
  color: #6C63FF; /* Blue icon color */
}

/* Button styles */
.button {
  background-color: #6C63FF; /* Blue button background */
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #5248DB; /* Darker blue on hover */
}

/* File upload button */
.file-btn {
  width: 100%;
  max-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 2px dashed #6C63FF; /* Blue dashed border */
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-btn:hover {
  padding: 10px;
  border-color: #5248DB; /* Darker blue on hover */
}

/* Browse button */
.browse-button {
  background-color: #6C63FF; /* Blue button background */
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.browse-button:hover {
  background-color: #5248DB; /* Darker blue on hover */
}

/* Upload button */
.upload-button {
  background-color: #5248DB; /* Darker blue button background */
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
  background-color: #463baa; /* Darker blue on hover */
}


/* Responsive styles */
@media (max-width: 768px) {
  .upload-form {
    width: 90%;
  }
}
